.story {
  width: 70%;
  border-radius: 3px;
  background: rgba($color-white, .5);
  padding: 6rem;
  padding-left: 9rem;
  margin: 0 auto;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  box-shadow: 0 1rem 6rem rgba($color-black, .1);

  @include respon(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respon(phone) {
    transform: skewX(0);
  }

  &:not(:last-child) {
    margin-bottom: 5rem;
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    background: red;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;

    @include respon(phone) {
      transform: translateX(-3rem) skewX(0);
    }

    & img {
      height: 100%;
      transform: translateX(-4rem) scale(1.4);
      transition: all .5s;
      backface-visibility: hidden;
    }
  }

  &__text {
    transform: skewX(12deg);

    @include respon(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    font-size: 1.7rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__shape img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(90%);
  }
}
